extends layout

block content
  
  include mixins/dashboard_place
  include mixins/dashboard_trendingPlayers
  include mixins/dashboard_trendingPoints
  include mixins/dashboard_playingToday
  
  h1(class="page-header") Dashboard
  div(class="row",style="text-align: center")
    div(class="col-md-4")
      mixin dashboard_place
    div(class="col-md-4")
      mixin dashboard_trendingPoints
    div(class="col-md-4")
      mixin dashboard_trendingPlayers
  div(class="row",style="text-align: center")
    div(class="col-md-4")
      mixin dashboard_playingToday
    div(class="col-md-4")
      mixin dashboard_trendingPoints
    div(class="col-md-4")
      mixin dashboard_trendingPlayers

