mixin dashboard_trendingPlayers

	mixin performer
		div(class="col-md-6")
			p Carlos Gomez
		div(class="col-md-6")
			p 5/8, 2 HR, 6 RBI

	div(class="row")
		h2 Trending Players
		div(class="row")
			h4(class="text-left") Top Performers
			div(class="")
				mixin performer
			div(class="")
				mixin performer
			div(class="")
				mixin performer
		div(class="row")
			h4(class="text-left") Worst Performers
			div(class="")
				mixin performer
			div(class="")
				mixin performer
			div(class="")
				mixin performer