mixin dashboard_place
	div(class="row")
		h1(style="font-size:72px") 3
			small(style="font-size: 25%") rd
		div(class="row")
			h5 place
		div(class="col-md-12")
			div(class="row")
				h4 Points behind: 1.5
			div(class="row")
				h4 Points ahead: 2