div(class="row-fluid")
  div(class="row-fluid")
    img.img-rounded(style="height:120px",src="http://gdx.mlb.com/images/gameday/mugshots/mlb/" + player.mlbPlayerId + ".jpg")
  div(class="row-fluid",style="border-bottom:1px solid #eee")
    h2= player.playerName
  div(class="row-fluid")
    div(class="row-fluid")
      div(class="col-md-4")
        div(class="row-fluid")
          strong AB
        div(class="row-fluid")
          span 3
      div(class="col-md-4")
        div(class="row-fluid")
          strong H
        div(class="row-fluid")
          span 3
      div(class="col-md-4")
        div(class="row-fluid")
          strong BB
        div(class="row-fluid")
          span 3
    div(class="row-fluid")
      div(class="col-md-4")
        div(class="row-fluid")
          strong K
        div(class="row-fluid")
          span 3
      div(class="col-md-4")
        div(class="row-fluid")
          strong HR
        div(class="row-fluid")
          span 3
      div(class="col-md-4")
        div(class="row-fluid")
          strong R
        div(class="row-fluid")
          span 3
    div(class="row-fluid")
      div(class="col-md-4")
        div(class="row-fluid")
          strong RBI
        div(class="row-fluid")
          span 3
      div(class="col-md-4")
        div(class="row-fluid")
          strong SB
        div(class="row-fluid")
          span 3
      div(class="col-md-4")
        div(class="row-fluid")
          strong CS
        div(class="row-fluid")
          span 3
    div(class="row-fluid")
      div(class="col-md-4")
        div(class="row-fluid")
          strong RBI
        div(class="row-fluid")
          span 3
      div(class="col-md-4")
        div(class="row-fluid")
          strong SB
        div(class="row-fluid")
          span 3
      div(class="col-md-4")
        div(class="row-fluid")
          strong CS
        div(class="row-fluid")
          span 3
  	  